
<html>
        
    <head>
        <title>ICT ACADEMY|HOME</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
          <header>
    
                <div class="row">
                    <div class="logo">
                        <img src="logo.png" alt="">
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href="index.html">HOME</a></li>
                        <li><a href="services.html">SERVICES</a></li>
                        <li><a href="about.html">ABOUT</a></li>
    
    
                        </li>
                    </ul>
    
    
                </div>
    
                <div class="head">
                    <h1>ICT ACADEMY OF KERALA</h1>
    
                </div>

                <h3>What is ICT Academy</h3>
                <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.
             </p>
             <h3>
                 Vison
             </h3>
             <p>
                To emerge as the single-point establishment for all the ICT related capability building in the State

             </p>
                <h3>
                    Our Key Focus
                </h3>
                <p>
                    a) Industry focused enablement programs for Faculty members

(b) Industry focused ICT Skills development program for Students

(c) Industry collaborated Research and Projects assistance to academic institutions

(d) Project assignments related to capability building for Institutions and Corporate

(e) Creating Intellectual Property on niche skill areas and emerging technologies
                </p>
    
        </header>

        <body>
          
        </body>
    

    <footer>
        ICT ACADEMY


        © 2014 ICT Academy of Kerala - All rights reserved. 
    </footer>
    </html>