
{% extends "layout.html"%}
{% block content %}

           
                    <div class="moto">
                        <h2>THANK YOU CLICK <a href="/">HERE</a></h2>
                        
                    </div>
        

            <div id="body-c">

                please return <a href="/" id="as">Home</a> 
           
            </div>

            <script>
                window.alert("Registration Complete")
                </script> 

{% endblock %}
      