

{% extends "layout.html"%}
{% block content %}

<div class="moto">
                <h2 id="t">TECHNOLOGY LEARNING AT PALM</h2>
                
</div>
            <div class="image1">
                <img src="../static/images/image1.png" alt="">

                
            </div>


            <h2 id="dev">TECHNOLOGY LEARNING AT PALM</h2>
                
            <div class="image2">

                <img src="../static/images/image2.png" alt="">

            </div>

            <section id="scroll">

                <img src="" alt="">


            </section>

{% endblock %}