<html>
  <head>
      <title>ICT ACADEMY|HOME</title>
      <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      

         
          <header>
              
              <div class="row">
                  <div class="logo">
                      <img src="../static/images/logo.png" alt="">
                  </div>
                  <ul class="main-nav">
                      <li class="active"><a href="/">HOME</a></li>
                      <li><a href="/services/">SERVICES</a></li>
                      <li><a href="/about/">ABOUT</a></li>
  
  
  
                      </li>
                  </ul>
  
  
              </div>
  
              <div class="head">
                  <h1>ICT ACADEMY OF KERALA</h1>
  
              </div>
              {% block content %}
              {% endblock %}
            </header>
              
     
  
      
      </div>

      
  </body>
  
  
  <footer>
      

  
  
      <div id="footIndex">
      ICT ACADEMY
  
  
      © 2014 ICT Academy of Kerala - All rights reserved. 
  </div>
  
   
  </footer>


  </html>