
<html>
        <head>
            <title>ICT ACADEMY|HOME</title>
            <link href="../static/register.css" rel="stylesheet" type="text/css">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="../../js/app.js"></script>
        </head>
        <body>
            <header>
        
                    <div class="row">
                        <div class="logo">
                            <img src="../static/images/logo.png" alt="">
                        </div>
                        <ul class="main-nav">
                            <li class="active"><a href="/">HOME</a></li>
                            <li><a href="/services/">SERVICES</a></li>
                            <li><a href="/about/">ABOUT</a></li>
        
        
        
                            </li>
                        </ul>
        
        
        
                    </div>
        
                    <div class="head">
                        <h1>ICT ACADEMY OF KERALA</h1>
        
                    </div>

                    <div class="message">
                    For best experience please login to our services


                    </div>
                     <div class="sign">
                         <form action="/register/">
                             <button method="GET" type="submit">Sign Up</button>
                            </form>

                        
                             <a href="/" class="register">Skip >></a>
                    </div>
                </form>

        
            </header>
        
            
        </body>
        </html>